**GRUPO 2**

> **Integrantes**:
>
> - Roberto Perez Esteban
> - Sofia Gomez Ramirez
> - Agustin Arganin Castillo

Proyecto de análisis exploratorio de datos de inmuebles

In [1]:
import csv
import json
import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd
import scipy
import seaborn as sns

# Proyecto EDA
## Análisis de Viviendas

In [2]:
path = "../data"

In [3]:
dirs = os.listdir(path)

In [4]:
df_2023_05_20 = pd.read_csv(f"{path}/23-05-20/DatosDescarga.csv")
df_2023_05_20.sample(5)

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,newDevelopment.1,priceByArea,detailedType,suggestedTexts,hasPlan,topNewDevelopment,superTopHighlight,floor,hasLift,parkingSpace
1116,1116,92166975,820000.0,flat,sale,179.0,True,2,2,barrio Niño Jesús,...,False,4581.0,{'typology': 'flat'},"{'subtitle': 'Niño Jesús, Madrid', 'title': 'P...",True,False,False,1,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
1090,1090,100314946,2500000.0,chalet,sale,594.0,False,5,5,Calle de Padilla,...,False,4209.0,"{'typology': 'chalet', 'subTypology': 'terrace...","{'subtitle': 'Lista, Madrid', 'title': 'Chalet...",True,False,False,NaN,NaN,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
892,892,86206001,849000.0,flat,sale,88.0,False,2,1,barrio Castellana,...,False,9648.0,{'typology': 'flat'},"{'subtitle': 'Castellana, Madrid', 'title': 'P...",True,False,False,6,True,NaN
308,308,100549351,530000.0,flat,sale,71.0,True,2,2,barrio Malasaña-Universidad,...,False,7465.0,{'typology': 'flat'},"{'subtitle': 'Malasaña-Universidad, Madrid', '...",True,False,False,4,False,NaN
669,669,99613044,2560000.0,flat,sale,231.0,True,3,4,barrio Castellana,...,False,11082.0,{'typology': 'flat'},"{'subtitle': 'Castellana, Madrid', 'title': 'P...",False,False,False,5,True,NaN

In [5]:
df_2023_05_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1196 non-null   int64
 1   propertyCode       1196 non-null   int64
 2   price              1196 non-null   float64
 3   propertyType       1196 non-null   object
 4   operation          1196 non-null   object
 5   size               1196 non-null   float64
 6   exterior           1196 non-null   bool
 7   rooms              1196 non-null   int64
 8   bathrooms          1196 non-null   int64
 9   address            1196 non-null   object
 10  province           1196 non-null   object
 11  municipality       1196 non-null   object
 12  district           1196 non-null   object
 13  country            1196 non-null   object
 14  newDevelopment     1196 non-null   bool
 15  latitude           1196 non-null   float64
 16  longitude          1196 non-null   float64
 17  showAddress        1196 non-null   bool
 18  url                1196 non-null   object
 19  description        1195 non-null   object
 20  status             1196 non-null   object
 21  newDevelopment.1   1196 non-null   bool
 22  priceByArea        1196 non-null   float64
 23  detailedType       1196 non-null   object
 24  suggestedTexts     1196 non-null   object
 25  hasPlan            1196 non-null   bool
 26  topNewDevelopment  1196 non-null   bool
 27  superTopHighlight  1196 non-null   bool
 28  floor              1079 non-null   object
 29  hasLift            1143 non-null   object
 30  parkingSpace       436 non-null    object
dtypes: bool(7), float64(5), int64(4), object(15)
memory usage: 232.6+ KB

In [6]:
df_2023_05_20.columns

Index(['Unnamed: 0', 'propertyCode', 'price', 'propertyType', 'operation',
       'size', 'exterior', 'rooms', 'bathrooms', 'address', 'province',
       'municipality', 'district', 'country', 'newDevelopment', 'latitude',
       'longitude', 'showAddress', 'url', 'description', 'status',
       'newDevelopment.1', 'priceByArea', 'detailedType', 'suggestedTexts',
       'hasPlan', 'topNewDevelopment', 'superTopHighlight', 'floor', 'hasLift',
       'parkingSpace'],
      dtype='object')

In [7]:
df_2023_05_20["status"].value_counts()

status
good              896
renew             260
newdevelopment     40
Name: count, dtype: int64

In [8]:
df_2023_05_20["superTopHighlight"].value_counts()
df_2023_05_20["superTopHighlight"].dtype

dtype('bool')

In [9]:
df_2023_05_20.loc[:4, "suggestedTexts"].values

array(["{'subtitle': 'Peñagrande, Madrid', 'title': 'Piso'}",
       "{'subtitle': 'Peñagrande, Madrid', 'title': 'Ático'}",
       "{'subtitle': 'Peñagrande, Madrid', 'title': 'Piso en Calle de Cándido Mateos'}",
       "{'subtitle': 'Peñagrande, Madrid', 'title': 'Piso'}",
       "{'subtitle': 'Peñagrande, Madrid', 'title': 'Piso en Calle de Juan Sánchez'}"],
      dtype=object)

In [10]:
df_2023_05_20.loc[:4, "parkingSpace"].values

array(["{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",
       nan,
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}"],
      dtype=object)

In [11]:
df_2023_05_20.loc[:4, ["propertyCode", "url"]].values

array([[97392656, 'https://www.idealista.com/inmueble/97392656/'],
       [100340472, 'https://www.idealista.com/inmueble/100340472/'],
       [101481291, 'https://www.idealista.com/inmueble/101481291/'],
       [101181100, 'https://www.idealista.com/inmueble/101181100/'],
       [101308619, 'https://www.idealista.com/inmueble/101308619/']],
      dtype=object)

In [12]:
df_2023_05_20["province"].value_counts()

province
Madrid    1196
Name: count, dtype: int64

#### 23-05-20 | 23-10-29

#### 23-12-1 | 24-01-08

In [13]:
df_2023_12_1 = pd.read_csv(f"{path}/23-12-1/DatosDescarga.csv")
df_2023_12_1

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,newDevelopment.1,priceByArea,detailedType,suggestedTexts,hasPlan,topNewDevelopment,superTopHighlight,floor,hasLift,parkingSpace
0,0,34797321,939000.0,flat,sale,225.0,True,4,4,barrio Peñagrande,...,False,4173.0,{'typology': 'flat'},"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,False,5,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
1,1,100340472,745000.0,penthouse,sale,154.0,True,4,3,Calle de Juan Sánchez,...,False,4838.0,"{'typology': 'flat', 'subTypology': 'penthouse'}","{'subtitle': 'Peñagrande, Madrid', 'title': 'Á...",True,False,False,5,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
2,2,102912846,466000.0,flat,sale,100.0,True,3,2,Calle de La Bañeza,...,False,4660.0,{'typology': 'flat'},"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,False,3,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
3,3,103170813,625000.0,flat,sale,116.0,True,3,2,Calle de Juan Sánchez,...,False,5388.0,{'typology': 'flat'},"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,False,1,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
4,4,102147885,890000.0,chalet,sale,325.0,NaN,7,5,Calle de las Islas Marquesas,...,False,2738.0,"{'typology': 'chalet', 'subTypology': 'terrace...","{'subtitle': 'Peñagrande, Madrid', 'title': 'C...",True,False,False,NaN,NaN,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,1194,96957712,250000.0,flat,sale,110.0,True,3,2,Calle Sierra Carbonera,...,False,2273.0,{'typology': 'flat'},"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,False,2,True,NaN
1195,1195,103269326,200000.0,flat,sale,153.0,True,3,3,Calle de Alfredo Castro Camba,...,False,1307.0,{'typology': 'flat'},"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,False,bj,False,NaN
1196,1196,100063977,390000.0,duplex,sale,184.0,True,4,3,Calle de Sierra Carbonera,...,False,2120.0,"{'typology': 'flat', 'subTypology': 'duplex'}","{'subtitle': 'San Diego, Madrid', 'title': 'Dú...",True,False,False,2,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
1197,1197,101137233,98000.0,duplex,sale,34.0,False,2,1,Calle del Vizconde de Arlessón,...,False,2882.0,"{'typology': 'flat', 'subTypology': 'duplex'}","{'subtitle': 'San Diego, Madrid', 'title': 'Dú...",True,False,False,bj,False,NaN
1198,1198,102675726,195000.0,flat,sale,95.0,True,3,2,Calle de Concejo de Teverga,...,False,2053.0,{'typology': 'flat'},"{'subtitle': 'Entrevías, Madrid', 'title': 'Pi...",True,False,False,2,True,NaN

In [14]:
df_2023_12_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1199 non-null   int64
 1   propertyCode       1199 non-null   int64
 2   price              1199 non-null   float64
 3   propertyType       1199 non-null   object
 4   operation          1199 non-null   object
 5   size               1199 non-null   float64
 6   exterior           1126 non-null   object
 7   rooms              1199 non-null   int64
 8   bathrooms          1199 non-null   int64
 9   address            1199 non-null   object
 10  province           1199 non-null   object
 11  municipality       1199 non-null   object
 12  district           1199 non-null   object
 13  country            1199 non-null   object
 14  newDevelopment     1199 non-null   bool
 15  latitude           1199 non-null   float64
 16  longitude          1199 non-null   float64
 17  showAddress        1199 non-null   bool
 18  url                1199 non-null   object
 19  description        1199 non-null   object
 20  status             1199 non-null   object
 21  newDevelopment.1   1199 non-null   bool
 22  priceByArea        1199 non-null   float64
 23  detailedType       1199 non-null   object
 24  suggestedTexts     1199 non-null   object
 25  hasPlan            1199 non-null   bool
 26  topNewDevelopment  1199 non-null   bool
 27  superTopHighlight  1199 non-null   bool
 28  floor              1094 non-null   object
 29  hasLift            1146 non-null   object
 30  parkingSpace       439 non-null    object
dtypes: bool(6), float64(5), int64(4), object(16)
memory usage: 241.3+ KB

In [15]:
df_2023_12_1_2= pd.read_csv(f"{path}/23-12-1/DatosDescarga2.csv")
df_2023_12_1_2

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,superTopHighlight,floor,hasLift,parkingSpace,dType,SubdType,dsugTextTit,dsugTexsubtit,dhasParking,dParkingIncl
0,0,34797321,939000.0,flat,sale,225.0,True,4,4,barrio Peñagrande,...,False,5,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",flat,NaN,Piso,"Peñagrande, Madrid",True,True
1,1,100340472,745000.0,penthouse,sale,154.0,True,4,3,Calle de Juan Sánchez,...,False,5,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",flat,penthouse,Ático en Calle de Juan Sánchez,"Peñagrande, Madrid",True,True
2,2,102912846,466000.0,flat,sale,100.0,True,3,2,Calle de La Bañeza,...,False,3,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",flat,NaN,Piso en Calle de La Bañeza,"Peñagrande, Madrid",True,True
3,3,103170813,625000.0,flat,sale,116.0,True,3,2,Calle de Juan Sánchez,...,False,1,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",flat,NaN,Piso en Calle de Juan Sánchez,"Peñagrande, Madrid",True,True
4,4,102147885,890000.0,chalet,sale,325.0,NaN,7,5,Calle de las Islas Marquesas,...,False,NaN,NaN,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",chalet,terracedHouse,Chalet adosado en Calle de las Islas Marquesas,"Peñagrande, Madrid",True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,1194,96957712,250000.0,flat,sale,110.0,True,3,2,Calle Sierra Carbonera,...,False,2,True,NaN,flat,NaN,Piso en Calle Sierra Carbonera,"San Diego, Madrid",NaN,NaN
1195,1195,103269326,200000.0,flat,sale,153.0,True,3,3,Calle de Alfredo Castro Camba,...,False,bj,False,NaN,flat,NaN,Piso en Calle de Alfredo Castro Camba,"San Diego, Madrid",NaN,NaN
1196,1196,100063977,390000.0,duplex,sale,184.0,True,4,3,Calle de Sierra Carbonera,...,False,2,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",flat,duplex,Dúplex en Calle de Sierra Carbonera,"San Diego, Madrid",True,False
1197,1197,101137233,98000.0,duplex,sale,34.0,False,2,1,Calle del Vizconde de Arlessón,...,False,bj,False,NaN,flat,duplex,Dúplex en Calle del Vizconde de Arlessón,"San Diego, Madrid",NaN,NaN
1198,1198,102675726,195000.0,flat,sale,95.0,True,3,2,Calle de Concejo de Teverga,...,False,2,True,NaN,flat,NaN,Piso en Calle de Concejo de Teverga,"Entrevías, Madrid",NaN,NaN

In [16]:
df_2023_12_1_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 37 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1199 non-null   int64
 1   propertyCode       1199 non-null   int64
 2   price              1199 non-null   float64
 3   propertyType       1199 non-null   object
 4   operation          1199 non-null   object
 5   size               1199 non-null   float64
 6   exterior           1126 non-null   object
 7   rooms              1199 non-null   int64
 8   bathrooms          1199 non-null   int64
 9   address            1199 non-null   object
 10  province           1199 non-null   object
 11  municipality       1199 non-null   object
 12  district           1199 non-null   object
 13  country            1199 non-null   object
 14  newDevelopment     1199 non-null   bool
 15  latitude           1199 non-null   float64
 16  longitude          1199 non-null   float64
 17  showAddress        1199 non-null   bool
 18  url                1199 non-null   object
 19  description        1199 non-null   object
 20  status             1199 non-null   object
 21  newDevelopment.1   1199 non-null   bool
 22  priceByArea        1199 non-null   float64
 23  detailedType       1199 non-null   object
 24  suggestedTexts     1199 non-null   object
 25  hasPlan            1199 non-null   bool
 26  topNewDevelopment  1199 non-null   bool
 27  superTopHighlight  1199 non-null   bool
 28  floor              1094 non-null   object
 29  hasLift            1146 non-null   object
 30  parkingSpace       439 non-null    object
 31  dType              1199 non-null   object
 32  SubdType           208 non-null    object
 33  dsugTextTit        1199 non-null   object
 34  dsugTexsubtit      1199 non-null   object
 35  dhasParking        439 non-null    object
 36  dParkingIncl       439 non-null    object
dtypes: bool(6), float64(5), int64(4), object(22)
memory usage: 297.5+ KB

In [17]:
df_2023_12_1_2.columns
# 'dType', 'SubdType', 'dsugTextTit', 'dsugTexsubtit','dhasParking', 'dParkingIncl'

Index(['Unnamed: 0', 'propertyCode', 'price', 'propertyType', 'operation',
       'size', 'exterior', 'rooms', 'bathrooms', 'address', 'province',
       'municipality', 'district', 'country', 'newDevelopment', 'latitude',
       'longitude', 'showAddress', 'url', 'description', 'status',
       'newDevelopment.1', 'priceByArea', 'detailedType', 'suggestedTexts',
       'hasPlan', 'topNewDevelopment', 'superTopHighlight', 'floor', 'hasLift',
       'parkingSpace', 'dType', 'SubdType', 'dsugTextTit', 'dsugTexsubtit',
       'dhasParking', 'dParkingIncl'],
      dtype='object')

In [18]:
archivo = f"{path}/23-12-1/Listado.txt"

with open(archivo, "r", encoding="utf-8") as f:
    contenido = f.read()

data = json.loads(contenido) # Convertir el texto a objeto Python (lista de diccionarios)

df_listado_23_12_1 = pd.DataFrame(data)

df_listado_23_12_1

,propertyCode,thumbnail,externalReference,numPhotos,floor,price,propertyType,operation,size,exterior,...,hasPlan,has3DTour,has360,hasStaging,highlight,superTopHighlight,topNewDevelopment,topPlus,newDevelopmentFinished,labels
0,34797321,https://img3.idealista.com/blur/WEB_LISTING/0/...,MIV01463 - Peña Grande,33,5,939000.0,flat,sale,225.0,True,...,True,True,False,True,{'groupDescription': 'Top'},False,False,False,NaN,NaN
1,100340472,https://img3.idealista.com/blur/WEB_LISTING/0/...,VM2302002,48,5,745000.0,penthouse,sale,154.0,True,...,True,False,True,False,{'groupDescription': 'Top'},False,False,False,NaN,NaN
2,102912846,https://img3.idealista.com/blur/WEB_LISTING/0/...,CLK00/3391.1,25,3,466000.0,flat,sale,100.0,True,...,True,False,False,False,{'groupDescription': 'Top'},False,False,False,NaN,NaN
3,103170813,https://img3.idealista.com/blur/WEB_LISTING/0/...,8351,40,1,625000.0,flat,sale,116.0,True,...,True,False,True,False,{'groupDescription': 'Top'},False,False,False,NaN,NaN
4,102147885,https://img3.idealista.com/blur/WEB_LISTING/0/...,31589,59,NaN,890000.0,chalet,sale,325.0,NaN,...,True,False,True,False,{'groupDescription': 'Top'},False,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194,96957712,https://img3.idealista.com/blur/WEB_LISTING/0/...,17129,21,2,250000.0,flat,sale,110.0,True,...,True,False,False,False,{'groupDescription': 'Destacado'},False,False,False,NaN,NaN
1195,103269326,https://img3.idealista.com/blur/WEB_LISTING/0/...,NaN,21,bj,200000.0,flat,sale,153.0,True,...,True,False,True,False,{'groupDescription': 'Destacado'},False,False,False,NaN,NaN
1196,100063977,https://img3.idealista.com/blur/WEB_LISTING/0/...,23185_V_ANGSC,44,2,390000.0,duplex,sale,184.0,True,...,True,False,True,False,{'groupDescription': 'Destacado'},False,False,False,NaN,NaN
1197,101137233,https://img3.idealista.com/blur/WEB_LISTING/0/...,454-VIZCONDE,35,bj,98000.0,duplex,sale,34.0,False,...,True,True,False,False,{'groupDescription': 'Destacado'},False,False,False,NaN,NaN
1198,102675726,https://img3.idealista.com/blur/WEB_LISTING/0/...,1056,34,2,195000.0,flat,sale,95.0,True,...,True,False,False,False,{'groupDescription': 'Destacado'},False,False,False,NaN,NaN

In [19]:
df_listado_23_12_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1199 entries, 0 to 1198
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   propertyCode            1199 non-null   object
 1   thumbnail               1199 non-null   object
 2   externalReference       1108 non-null   object
 3   numPhotos               1199 non-null   int64
 4   floor                   1094 non-null   object
 5   price                   1199 non-null   float64
 6   propertyType            1199 non-null   object
 7   operation               1199 non-null   object
 8   size                    1199 non-null   float64
 9   exterior                1126 non-null   object
 10  rooms                   1199 non-null   int64
 11  bathrooms               1199 non-null   int64
 12  address                 1199 non-null   object
 13  province                1199 non-null   object
 14  municipality            1199 non-null   object
 15  district                1199 non-null   object
 16  country                 1199 non-null   object
 17  neighborhood            1199 non-null   object
 18  latitude                1199 non-null   float64
 19  longitude               1199 non-null   float64
 20  showAddress             1199 non-null   bool
 21  url                     1199 non-null   object
 22  distance                1199 non-null   object
 23  description             1199 non-null   object
 24  hasVideo                1199 non-null   bool
 25  status                  1199 non-null   object
 26  newDevelopment          1199 non-null   bool
 27  hasLift                 1146 non-null   object
 28  parkingSpace            439 non-null    object
 29  priceByArea             1199 non-null   float64
 30  detailedType            1199 non-null   object
 31  suggestedTexts          1199 non-null   object
 32  hasPlan                 1199 non-null   bool
 33  has3DTour               1199 non-null   bool
 34  has360                  1199 non-null   bool
 35  hasStaging              1199 non-null   bool
 36  highlight               1137 non-null   object
 37  superTopHighlight       1199 non-null   bool
 38  topNewDevelopment       1199 non-null   bool
 39  topPlus                 1199 non-null   bool
 40  newDevelopmentFinished  50 non-null     object
 41  labels                  121 non-null    object
dtypes: bool(10), float64(5), int64(3), object(24)
memory usage: 311.6+ KB

In [20]:
df_2024_01_08 = pd.read_csv(f"{path}/24-01-08/DatosDescarga.csv")
df_2024_01_08

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,status,newDevelopment.1,priceByArea,detailedType,suggestedTexts,hasPlan,topNewDevelopment,floor,hasLift,parkingSpace
0,0,34797321,939000.0,flat,sale,225.0,True,4,4,barrio Peñagrande,...,good,False,4173.0,{'typology': 'flat'},"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,5,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
1,1,100340472,745000.0,penthouse,sale,154.0,True,4,3,Calle de Juan Sánchez,...,good,False,4838.0,"{'typology': 'flat', 'subTypology': 'penthouse'}","{'subtitle': 'Peñagrande, Madrid', 'title': 'Á...",True,False,5,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
2,2,103206000,490000.0,flat,sale,108.0,True,3,2,Calle del Valle de Mena,...,good,False,4537.0,{'typology': 'flat'},"{'subtitle': 'Valdezarza, Madrid', 'title': 'P...",True,False,3,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
3,3,102912846,480000.0,flat,sale,100.0,True,3,2,Calle de La Bañeza,...,good,False,4800.0,{'typology': 'flat'},"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,3,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
4,4,103523871,690000.0,flat,sale,152.0,True,3,2,barrio Peñagrande,...,good,False,4539.0,{'typology': 'flat'},"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,8,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,1193,102693590,143000.0,flat,sale,110.0,True,3,1,Av. de San Diego,...,renew,False,1300.0,{'typology': 'flat'},"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,1,False,NaN
1194,1194,103140285,155000.0,flat,sale,52.0,True,2,1,sancho panza,...,good,False,2981.0,{'typology': 'flat'},"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,2,False,NaN
1195,1195,101137233,98000.0,duplex,sale,34.0,False,2,1,Calle del Vizconde de Arlessón,...,good,False,2882.0,"{'typology': 'flat', 'subTypology': 'duplex'}","{'subtitle': 'San Diego, Madrid', 'title': 'Dú...",True,False,bj,False,NaN
1196,1196,103504021,170000.0,flat,sale,79.0,True,3,1,Calle de Santa Alicia,...,good,False,2152.0,{'typology': 'flat'},"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,2,False,NaN
1197,1197,98311246,195490.0,flat,sale,98.0,True,3,2,Calle Sierra Carbonera,...,good,False,1995.0,{'typology': 'flat'},"{'subtitle': 'Palomeras Bajas, Madrid', 'title...",True,False,bj,False,NaN

In [21]:
df_2024_01_08_2 = pd.read_csv(f"{path}/24-01-08/DatosDescarga2.csv")
df_2024_01_08_2

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,topNewDevelopment,floor,hasLift,parkingSpace,dType,SubdType,dsugTextTit,dsugTexsubtit,dhasParking,dParkingIncl
0,0,34797321,939000.0,flat,sale,225.0,True,4,4,barrio Peñagrande,...,False,5,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",flat,NaN,Piso,"Peñagrande, Madrid",True,True
1,1,100340472,745000.0,penthouse,sale,154.0,True,4,3,Calle de Juan Sánchez,...,False,5,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",flat,penthouse,Ático en Calle de Juan Sánchez,"Peñagrande, Madrid",True,True
2,2,103206000,490000.0,flat,sale,108.0,True,3,2,Calle del Valle de Mena,...,False,3,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",flat,NaN,Piso en Calle del Valle de Mena,"Valdezarza, Madrid",True,True
3,3,102912846,480000.0,flat,sale,100.0,True,3,2,Calle de La Bañeza,...,False,3,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",flat,NaN,Piso en Calle de La Bañeza,"Peñagrande, Madrid",True,True
4,4,103523871,690000.0,flat,sale,152.0,True,3,2,barrio Peñagrande,...,False,8,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",flat,NaN,Piso,"Peñagrande, Madrid",True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,1193,102693590,143000.0,flat,sale,110.0,True,3,1,Av. de San Diego,...,False,1,False,NaN,flat,NaN,Piso en Av. de San Diego,"San Diego, Madrid",NaN,NaN
1194,1194,103140285,155000.0,flat,sale,52.0,True,2,1,sancho panza,...,False,2,False,NaN,flat,NaN,Piso en sancho panza,"San Diego, Madrid",NaN,NaN
1195,1195,101137233,98000.0,duplex,sale,34.0,False,2,1,Calle del Vizconde de Arlessón,...,False,bj,False,NaN,flat,duplex,Dúplex en Calle del Vizconde de Arlessón,"San Diego, Madrid",NaN,NaN
1196,1196,103504021,170000.0,flat,sale,79.0,True,3,1,Calle de Santa Alicia,...,False,2,False,NaN,flat,NaN,Piso en Calle de Santa Alicia,"San Diego, Madrid",NaN,NaN
1197,1197,98311246,195490.0,flat,sale,98.0,True,3,2,Calle Sierra Carbonera,...,False,bj,False,NaN,flat,NaN,Piso en Calle Sierra Carbonera,"Palomeras Bajas, Madrid",NaN,NaN

In [22]:
archivo = f"{path}/24-01-08/Listado.txt"

with open(archivo, "r", encoding="utf-8") as f:
    contenido = f.read()

data = json.loads(contenido) 

df_listado_24_01_08 = pd.DataFrame(data)

df_listado_24_01_08

,propertyCode,thumbnail,externalReference,numPhotos,floor,price,propertyType,operation,size,exterior,...,suggestedTexts,hasPlan,has3DTour,has360,hasStaging,highlight,topNewDevelopment,topPlus,newDevelopmentFinished,labels
0,34797321,https://img3.idealista.com/blur/WEB_LISTING/0/...,MIV01463 - Peña Grande,33,5,939000.0,flat,sale,225.0,True,...,"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,True,False,True,{'groupDescription': 'Top'},False,False,NaN,NaN
1,100340472,https://img3.idealista.com/blur/WEB_LISTING/0/...,VM2302002,48,5,745000.0,penthouse,sale,154.0,True,...,"{'subtitle': 'Peñagrande, Madrid', 'title': 'Á...",True,False,True,False,{'groupDescription': 'Top'},False,False,NaN,NaN
2,103206000,https://img3.idealista.com/blur/WEB_LISTING/0/...,CLK00/3561.1,46,3,490000.0,flat,sale,108.0,True,...,"{'subtitle': 'Valdezarza, Madrid', 'title': 'P...",True,False,False,False,{'groupDescription': 'Top'},False,False,NaN,NaN
3,102912846,https://img3.idealista.com/blur/WEB_LISTING/0/...,CLK00/3391.1,25,3,480000.0,flat,sale,100.0,True,...,"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,False,False,{'groupDescription': 'Top'},False,False,NaN,NaN
4,103523871,https://img3.idealista.com/blur/WEB_LISTING/0/...,MIV0986,66,8,690000.0,flat,sale,152.0,True,...,"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,False,False,{'groupDescription': 'Top'},False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,102693590,https://img3.idealista.com/blur/WEB_LISTING/0/...,PUERTO DE ARLABAN,34,1,143000.0,flat,sale,110.0,True,...,"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN
1194,103140285,https://img3.idealista.com/blur/WEB_LISTING/0/...,MA-565,29,2,155000.0,flat,sale,52.0,True,...,"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,True,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN
1195,101137233,https://img3.idealista.com/blur/WEB_LISTING/0/...,454-VIZCONDE,35,bj,98000.0,duplex,sale,34.0,False,...,"{'subtitle': 'San Diego, Madrid', 'title': 'Dú...",True,True,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN
1196,103504021,https://img3.idealista.com/blur/WEB_LISTING/0/...,19845,18,2,170000.0,flat,sale,79.0,True,...,"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN
1197,98311246,https://img3.idealista.com/blur/WEB_LISTING/0/...,CCI-001-000041801,18,bj,195490.0,flat,sale,98.0,True,...,"{'subtitle': 'Palomeras Bajas, Madrid', 'title...",True,False,True,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN

In [23]:
df_union_01_08 = pd.concat([df_2023_12_1, df_2023_12_1_2, df_listado_23_12_1,df_2024_01_08, df_2024_01_08_2, df_listado_24_01_08 ], ignore_index=True)

df_union_01_08

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,neighborhood,distance,hasVideo,has3DTour,has360,hasStaging,highlight,topPlus,newDevelopmentFinished,labels
0,0.0,34797321,939000.0,flat,sale,225.0,True,4,4,barrio Peñagrande,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,100340472,745000.0,penthouse,sale,154.0,True,4,3,Calle de Juan Sánchez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,102912846,466000.0,flat,sale,100.0,True,3,2,Calle de La Bañeza,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,103170813,625000.0,flat,sale,116.0,True,3,2,Calle de Juan Sánchez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,102147885,890000.0,chalet,sale,325.0,NaN,7,5,Calle de las Islas Marquesas,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7186,NaN,102693590,143000.0,flat,sale,110.0,True,3,1,Av. de San Diego,...,San Diego,264,True,False,False,False,{'groupDescription': 'Destacado'},False,NaN,NaN
7187,NaN,103140285,155000.0,flat,sale,52.0,True,2,1,sancho panza,...,San Diego,322,True,True,False,False,{'groupDescription': 'Destacado'},False,NaN,NaN
7188,NaN,101137233,98000.0,duplex,sale,34.0,False,2,1,Calle del Vizconde de Arlessón,...,San Diego,435,True,True,False,False,{'groupDescription': 'Destacado'},False,NaN,NaN
7189,NaN,103504021,170000.0,flat,sale,79.0,True,3,1,Calle de Santa Alicia,...,San Diego,235,False,False,False,False,{'groupDescription': 'Destacado'},False,NaN,NaN
7190,NaN,98311246,195490.0,flat,sale,98.0,True,3,2,Calle Sierra Carbonera,...,Palomeras Bajas,503,False,False,True,False,{'groupDescription': 'Destacado'},False,NaN,NaN

In [24]:
df_union_01_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7191 entries, 0 to 7190
Data columns (total 50 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              4794 non-null   float64
 1   propertyCode            7191 non-null   object
 2   price                   7191 non-null   float64
 3   propertyType            7191 non-null   object
 4   operation               7191 non-null   object
 5   size                    7191 non-null   float64
 6   exterior                6777 non-null   object
 7   rooms                   7191 non-null   int64
 8   bathrooms               7191 non-null   int64
 9   address                 7191 non-null   object
 10  province                7191 non-null   object
 11  municipality            7191 non-null   object
 12  district                7191 non-null   object
 13  country                 7191 non-null   object
 14  newDevelopment          7191 non-null   bool
 15  latitude                7191 non-null   float64
 16  longitude               7191 non-null   float64
 17  showAddress             7191 non-null   bool
 18  url                     7191 non-null   object
 19  description             7191 non-null   object
 20  status                  7191 non-null   object
 21  newDevelopment.1        4794 non-null   object
 22  priceByArea             7191 non-null   float64
 23  detailedType            7191 non-null   object
 24  suggestedTexts          7191 non-null   object
 25  hasPlan                 7191 non-null   bool
 26  topNewDevelopment       7191 non-null   bool
 27  superTopHighlight       3597 non-null   object
 28  floor                   6582 non-null   object
 29  hasLift                 6894 non-null   object
 30  parkingSpace            2604 non-null   object
 31  dType                   2397 non-null   object
 32  SubdType                409 non-null    object
 33  dsugTextTit             2397 non-null   object
 34  dsugTexsubtit           2397 non-null   object
 35  dhasParking             868 non-null    object
 36  dParkingIncl            868 non-null    object
 37  thumbnail               2397 non-null   object
 38  externalReference       2217 non-null   object
 39  numPhotos               2397 non-null   float64
 40  neighborhood            2397 non-null   object
 41  distance                2397 non-null   object
 42  hasVideo                2397 non-null   object
 43  has3DTour               2397 non-null   object
 44  has360                  2397 non-null   object
 45  hasStaging              2397 non-null   object
 46  highlight               2267 non-null   object
 47  topPlus                 2397 non-null   object
 48  newDevelopmentFinished  87 non-null     object
 49  labels                  245 non-null    object
dtypes: bool(4), float64(7), int64(2), object(37)
memory usage: 2.6+ MB

In [25]:
df_union_01_08.columns

Index(['Unnamed: 0', 'propertyCode', 'price', 'propertyType', 'operation',
       'size', 'exterior', 'rooms', 'bathrooms', 'address', 'province',
       'municipality', 'district', 'country', 'newDevelopment', 'latitude',
       'longitude', 'showAddress', 'url', 'description', 'status',
       'newDevelopment.1', 'priceByArea', 'detailedType', 'suggestedTexts',
       'hasPlan', 'topNewDevelopment', 'superTopHighlight', 'floor', 'hasLift',
       'parkingSpace', 'dType', 'SubdType', 'dsugTextTit', 'dsugTexsubtit',
       'dhasParking', 'dParkingIncl', 'thumbnail', 'externalReference',
       'numPhotos', 'neighborhood', 'distance', 'hasVideo', 'has3DTour',
       'has360', 'hasStaging', 'highlight', 'topPlus',
       'newDevelopmentFinished', 'labels'],
      dtype='object')

In [26]:

duplicados = df_union_01_08["propertyCode"].duplicated()
df_union_01_08.loc[duplicados]

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,neighborhood,distance,hasVideo,has3DTour,has360,hasStaging,highlight,topPlus,newDevelopmentFinished,labels
87,87.0,101466187,1100000.0,flat,sale,227.0,True,5,4,barrio Vallehermoso,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
91,91.0,101135248,745000.0,flat,sale,153.0,False,4,3,Paseo de San Francisco de Sales,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,105.0,102849306,824000.0,flat,sale,159.0,True,7,3,Calle tutor,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,111.0,92677130,660000.0,penthouse,sale,58.0,True,1,1,Calle de la Princesa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,147.0,102612566,395000.0,flat,sale,97.0,True,3,1,Calle de Juan Duque,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7181,NaN,101466120,370000.0,penthouse,sale,138.0,True,3,2,Calle de los Montes Pirineos,...,Palomeras Bajas,255,False,False,True,False,{'groupDescription': 'Destacado'},False,NaN,NaN
7186,NaN,102693590,143000.0,flat,sale,110.0,True,3,1,Av. de San Diego,...,San Diego,264,True,False,False,False,{'groupDescription': 'Destacado'},False,NaN,NaN
7187,NaN,103140285,155000.0,flat,sale,52.0,True,2,1,sancho panza,...,San Diego,322,True,True,False,False,{'groupDescription': 'Destacado'},False,NaN,NaN
7188,NaN,101137233,98000.0,duplex,sale,34.0,False,2,1,Calle del Vizconde de Arlessón,...,San Diego,435,True,True,False,False,{'groupDescription': 'Destacado'},False,NaN,NaN
7190,NaN,98311246,195490.0,flat,sale,98.0,True,3,2,Calle Sierra Carbonera,...,Palomeras Bajas,503,False,False,True,False,{'groupDescription': 'Destacado'},False,NaN,NaN

#### 24-03-11 | 24-04-20

In [27]:
df_2024_03_11 = pd.read_csv(f"{path}/24-03-11/DatosDescarga.csv")
df_2024_03_11

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,status,newDevelopment.1,priceByArea,detailedType,suggestedTexts,hasPlan,topNewDevelopment,floor,hasLift,parkingSpace
0,0,100340472,745000.0,penthouse,sale,154.0,True,4,3,Calle de Juan Sánchez,...,good,False,4838.0,"{'typology': 'flat', 'subTypology': 'penthouse'}","{'subtitle': 'Peñagrande, Madrid', 'title': 'Á...",True,False,5,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
1,1,103523871,675000.0,flat,sale,152.0,True,3,2,barrio Peñagrande,...,good,False,4441.0,{'typology': 'flat'},"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,8,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
2,2,104003668,675000.0,flat,sale,151.0,True,3,2,Calle de Isla Cristina,...,renew,False,4470.0,{'typology': 'flat'},"{'subtitle': 'Valdezarza, Madrid', 'title': 'P...",True,False,bj,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
3,3,102912846,480000.0,flat,sale,100.0,True,3,2,Calle de La Bañeza,...,good,False,4800.0,{'typology': 'flat'},"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,3,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
4,4,103206000,490000.0,flat,sale,108.0,True,3,2,Calle del Valle de Mena,...,good,False,4537.0,{'typology': 'flat'},"{'subtitle': 'Valdezarza, Madrid', 'title': 'P...",True,False,3,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,1191,98311246,205265.0,flat,sale,98.0,True,3,2,Calle Sierra Carbonera,...,good,False,2095.0,{'typology': 'flat'},"{'subtitle': 'Palomeras Bajas, Madrid', 'title...",True,False,bj,False,NaN
1192,1192,102097920,165000.0,flat,sale,60.0,True,1,1,"Calle Carlos Martín Álvarez , 59",...,newdevelopment,True,2750.0,{'typology': 'flat'},"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,2,True,NaN
1193,1193,102097872,170000.0,flat,sale,60.0,True,1,1,"Calle Carlos Martín Álvarez , 59",...,newdevelopment,True,2833.0,{'typology': 'flat'},"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,1,True,NaN
1194,1194,104059214,115000.0,flat,sale,39.0,True,1,1,Calle Avelino Fernández de la Poza,...,good,False,2949.0,{'typology': 'flat'},"{'subtitle': 'Entrevías, Madrid', 'title': 'Pi...",False,False,2,True,NaN
1195,1195,102097885,205000.0,penthouse,sale,83.0,True,1,1,"Calle Carlos Martín Álvarez , 59",...,newdevelopment,True,2470.0,"{'typology': 'flat', 'subTypology': 'penthouse'}","{'subtitle': 'San Diego, Madrid', 'title': 'Át...",True,False,NaN,True,NaN

In [28]:
df_2024_03_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1196 non-null   int64
 1   propertyCode       1196 non-null   int64
 2   price              1196 non-null   float64
 3   propertyType       1196 non-null   object
 4   operation          1196 non-null   object
 5   size               1196 non-null   float64
 6   exterior           1125 non-null   object
 7   rooms              1196 non-null   int64
 8   bathrooms          1196 non-null   int64
 9   address            1196 non-null   object
 10  province           1196 non-null   object
 11  municipality       1196 non-null   object
 12  district           1196 non-null   object
 13  country            1196 non-null   object
 14  newDevelopment     1196 non-null   bool
 15  latitude           1196 non-null   float64
 16  longitude          1196 non-null   float64
 17  showAddress        1196 non-null   bool
 18  url                1196 non-null   object
 19  description        1194 non-null   object
 20  status             1196 non-null   object
 21  newDevelopment.1   1196 non-null   bool
 22  priceByArea        1196 non-null   float64
 23  detailedType       1196 non-null   object
 24  suggestedTexts     1196 non-null   object
 25  hasPlan            1196 non-null   bool
 26  topNewDevelopment  1196 non-null   bool
 27  floor              1088 non-null   object
 28  hasLift            1137 non-null   object
 29  parkingSpace       408 non-null    object
dtypes: bool(5), float64(5), int64(4), object(16)
memory usage: 239.6+ KB

In [ ]:
df_2024_03_11.columns  # Aquí quiero saber el nombre y número de columnas que tengo en el documento CSV

Index(['Unnamed: 0', 'propertyCode', 'price', 'propertyType', 'operation',
       'size', 'exterior', 'rooms', 'bathrooms', 'address', 'province',
       'municipality', 'district', 'country', 'newDevelopment', 'latitude',
       'longitude', 'showAddress', 'url', 'description', 'status',
       'newDevelopment.1', 'priceByArea', 'detailedType', 'suggestedTexts',
       'hasPlan', 'topNewDevelopment', 'floor', 'hasLift', 'parkingSpace'],
      dtype='object')

In [ ]:
df_2024_03_11.value_counts()

In [30]:
archivo_txt_2024_03_11 = f"{path}/24-03-11/Listado.txt"

with open(archivo_txt_2024_03_11, "r", encoding="utf-8") as f:
    datos_txt = f.read()

datos = json.loads(datos_txt) # Convertir el texto a objeto Python (lista de diccionarios)

df_archivo_txt_2024_03_11 = pd.DataFrame(datos)

df_archivo_txt_2024_03_11

,propertyCode,thumbnail,externalReference,numPhotos,floor,price,propertyType,operation,size,exterior,...,suggestedTexts,hasPlan,has3DTour,has360,hasStaging,highlight,topNewDevelopment,topPlus,labels,newDevelopmentFinished
0,100340472,https://img3.idealista.com/blur/WEB_LISTING/0/...,VM2302002,48,5,745000.0,penthouse,sale,154.0,True,...,"{'subtitle': 'Peñagrande, Madrid', 'title': 'Á...",True,False,True,False,{'groupDescription': 'Top'},False,False,NaN,NaN
1,103523871,https://img3.idealista.com/blur/WEB_LISTING/0/...,MIV01986,69,8,675000.0,flat,sale,152.0,True,...,"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,True,True,{'groupDescription': 'Top'},False,False,NaN,NaN
2,104003668,https://img3.idealista.com/blur/WEB_LISTING/0/...,NaN,45,bj,675000.0,flat,sale,151.0,True,...,"{'subtitle': 'Valdezarza, Madrid', 'title': 'P...",True,False,True,False,{'groupDescription': 'Top'},False,False,NaN,NaN
3,102912846,https://img3.idealista.com/blur/WEB_LISTING/0/...,CLK00/3391.1,30,3,480000.0,flat,sale,100.0,True,...,"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,False,False,{'groupDescription': 'Top'},False,False,NaN,NaN
4,103206000,https://img3.idealista.com/blur/WEB_LISTING/0/...,CLK00/3561.1,29,3,490000.0,flat,sale,108.0,True,...,"{'subtitle': 'Valdezarza, Madrid', 'title': 'P...",True,False,False,False,{'groupDescription': 'Top'},False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,98311246,https://img3.idealista.com/blur/WEB_LISTING/0/...,CCI-001-000041801,18,bj,205265.0,flat,sale,98.0,True,...,"{'subtitle': 'Palomeras Bajas, Madrid', 'title...",True,False,True,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN
1192,102097920,https://img3.idealista.com/blur/WEB_LISTING/0/...,2º,6,2,165000.0,flat,sale,60.0,True,...,"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,False
1193,102097872,https://img3.idealista.com/blur/WEB_LISTING/0/...,1º,6,1,170000.0,flat,sale,60.0,True,...,"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,False
1194,104059214,https://img3.idealista.com/blur/WEB_LISTING/0/...,NaN,15,2,115000.0,flat,sale,39.0,True,...,"{'subtitle': 'Entrevías, Madrid', 'title': 'Pi...",False,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN
1195,102097885,https://img3.idealista.com/blur/WEB_LISTING/0/...,ÁTICO,6,NaN,205000.0,penthouse,sale,83.0,True,...,"{'subtitle': 'San Diego, Madrid', 'title': 'Át...",True,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,False

In [31]:
df_archivo_txt_2024_03_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 41 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   propertyCode            1196 non-null   object
 1   thumbnail               1196 non-null   object
 2   externalReference       1091 non-null   object
 3   numPhotos               1196 non-null   int64
 4   floor                   1088 non-null   object
 5   price                   1196 non-null   float64
 6   propertyType            1196 non-null   object
 7   operation               1196 non-null   object
 8   size                    1196 non-null   float64
 9   exterior                1125 non-null   object
 10  rooms                   1196 non-null   int64
 11  bathrooms               1196 non-null   int64
 12  address                 1196 non-null   object
 13  province                1196 non-null   object
 14  municipality            1196 non-null   object
 15  district                1196 non-null   object
 16  country                 1196 non-null   object
 17  neighborhood            1196 non-null   object
 18  latitude                1196 non-null   float64
 19  longitude               1196 non-null   float64
 20  showAddress             1196 non-null   bool
 21  url                     1196 non-null   object
 22  distance                1196 non-null   object
 23  description             1194 non-null   object
 24  hasVideo                1196 non-null   bool
 25  status                  1196 non-null   object
 26  newDevelopment          1196 non-null   bool
 27  hasLift                 1137 non-null   object
 28  parkingSpace            408 non-null    object
 29  priceByArea             1196 non-null   float64
 30  detailedType            1196 non-null   object
 31  suggestedTexts          1196 non-null   object
 32  hasPlan                 1196 non-null   bool
 33  has3DTour               1196 non-null   bool
 34  has360                  1196 non-null   bool
 35  hasStaging              1196 non-null   bool
 36  highlight               1143 non-null   object
 37  topNewDevelopment       1196 non-null   bool
 38  topPlus                 1196 non-null   bool
 39  labels                  110 non-null    object
 40  newDevelopmentFinished  34 non-null     object
dtypes: bool(9), float64(5), int64(3), object(24)
memory usage: 309.6+ KB

In [40]:
df_archivo_txt_2024_03_11.columns    # Aquí quiero ver el número y nombre de las columnas que tiene el txt, para compararlo con el archivo csv, por si son iguales o tienen algun tipo de relación

Index(['propertyCode', 'thumbnail', 'externalReference', 'numPhotos', 'floor',
       'price', 'propertyType', 'operation', 'size', 'exterior', 'rooms',
       'bathrooms', 'address', 'province', 'municipality', 'district',
       'country', 'neighborhood', 'latitude', 'longitude', 'showAddress',
       'url', 'distance', 'description', 'hasVideo', 'status',
       'newDevelopment', 'hasLift', 'parkingSpace', 'priceByArea',
       'detailedType', 'suggestedTexts', 'hasPlan', 'has3DTour', 'has360',
       'hasStaging', 'highlight', 'topNewDevelopment', 'topPlus', 'labels',
       'newDevelopmentFinished'],
      dtype='object')

In [32]:
df_2024_04_20 = pd.read_csv(f"{path}/24-03-11/DatosDescarga.csv")
df_2024_04_20

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,status,newDevelopment.1,priceByArea,detailedType,suggestedTexts,hasPlan,topNewDevelopment,floor,hasLift,parkingSpace
0,0,100340472,745000.0,penthouse,sale,154.0,True,4,3,Calle de Juan Sánchez,...,good,False,4838.0,"{'typology': 'flat', 'subTypology': 'penthouse'}","{'subtitle': 'Peñagrande, Madrid', 'title': 'Á...",True,False,5,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
1,1,103523871,675000.0,flat,sale,152.0,True,3,2,barrio Peñagrande,...,good,False,4441.0,{'typology': 'flat'},"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,8,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
2,2,104003668,675000.0,flat,sale,151.0,True,3,2,Calle de Isla Cristina,...,renew,False,4470.0,{'typology': 'flat'},"{'subtitle': 'Valdezarza, Madrid', 'title': 'P...",True,False,bj,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
3,3,102912846,480000.0,flat,sale,100.0,True,3,2,Calle de La Bañeza,...,good,False,4800.0,{'typology': 'flat'},"{'subtitle': 'Peñagrande, Madrid', 'title': 'P...",True,False,3,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
4,4,103206000,490000.0,flat,sale,108.0,True,3,2,Calle del Valle de Mena,...,good,False,4537.0,{'typology': 'flat'},"{'subtitle': 'Valdezarza, Madrid', 'title': 'P...",True,False,3,True,"{'hasParkingSpace': True, 'isParkingSpaceInclu..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191,1191,98311246,205265.0,flat,sale,98.0,True,3,2,Calle Sierra Carbonera,...,good,False,2095.0,{'typology': 'flat'},"{'subtitle': 'Palomeras Bajas, Madrid', 'title...",True,False,bj,False,NaN
1192,1192,102097920,165000.0,flat,sale,60.0,True,1,1,"Calle Carlos Martín Álvarez , 59",...,newdevelopment,True,2750.0,{'typology': 'flat'},"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,2,True,NaN
1193,1193,102097872,170000.0,flat,sale,60.0,True,1,1,"Calle Carlos Martín Álvarez , 59",...,newdevelopment,True,2833.0,{'typology': 'flat'},"{'subtitle': 'San Diego, Madrid', 'title': 'Pi...",True,False,1,True,NaN
1194,1194,104059214,115000.0,flat,sale,39.0,True,1,1,Calle Avelino Fernández de la Poza,...,good,False,2949.0,{'typology': 'flat'},"{'subtitle': 'Entrevías, Madrid', 'title': 'Pi...",False,False,2,True,NaN
1195,1195,102097885,205000.0,penthouse,sale,83.0,True,1,1,"Calle Carlos Martín Álvarez , 59",...,newdevelopment,True,2470.0,"{'typology': 'flat', 'subTypology': 'penthouse'}","{'subtitle': 'San Diego, Madrid', 'title': 'Át...",True,False,NaN,True,NaN

In [37]:
df_2024_04_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1196 entries, 0 to 1195
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1196 non-null   int64
 1   propertyCode       1196 non-null   int64
 2   price              1196 non-null   float64
 3   propertyType       1196 non-null   object
 4   operation          1196 non-null   object
 5   size               1196 non-null   float64
 6   exterior           1125 non-null   object
 7   rooms              1196 non-null   int64
 8   bathrooms          1196 non-null   int64
 9   address            1196 non-null   object
 10  province           1196 non-null   object
 11  municipality       1196 non-null   object
 12  district           1196 non-null   object
 13  country            1196 non-null   object
 14  newDevelopment     1196 non-null   bool
 15  latitude           1196 non-null   float64
 16  longitude          1196 non-null   float64
 17  showAddress        1196 non-null   bool
 18  url                1196 non-null   object
 19  description        1194 non-null   object
 20  status             1196 non-null   object
 21  newDevelopment.1   1196 non-null   bool
 22  priceByArea        1196 non-null   float64
 23  detailedType       1196 non-null   object
 24  suggestedTexts     1196 non-null   object
 25  hasPlan            1196 non-null   bool
 26  topNewDevelopment  1196 non-null   bool
 27  floor              1088 non-null   object
 28  hasLift            1137 non-null   object
 29  parkingSpace       408 non-null    object
dtypes: bool(5), float64(5), int64(4), object(16)
memory usage: 239.6+ KB

In [ ]:
df_2024_04_20.columns  # Aquí quiero saber el nombre y número de columnas que tengo en el documento CSV

Index(['Unnamed: 0', 'propertyCode', 'price', 'propertyType', 'operation',
       'size', 'exterior', 'rooms', 'bathrooms', 'address', 'province',
       'municipality', 'district', 'country', 'newDevelopment', 'latitude',
       'longitude', 'showAddress', 'url', 'description', 'status',
       'newDevelopment.1', 'priceByArea', 'detailedType', 'suggestedTexts',
       'hasPlan', 'topNewDevelopment', 'floor', 'hasLift', 'parkingSpace'],
      dtype='object')

In [35]:
df_2024_04_20.value_counts()

Unnamed: 0  propertyCode  price     propertyType  operation  size   exterior  rooms  bathrooms  address                    province  municipality  district            country  newDevelopment  latitude   longitude  showAddress  url                                            description                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     status  newDevelopment.1  priceByArea  detailedType                                      suggestedTexts                                                                  hasPlan  topNewDevelopment  floor  hasLift  parkingSpace
0           100340472     745000.0  penthouse     sale       154.0  True      4      3          Calle de Juan Sánchez      Madrid    Madrid        Fuencarral          es       False           40.473012  -3.721207  False        https://www.idealista.com/inmueble/100340472/  ÁTICO-DÚPLEX EXTERIOR CON TERRAZA EN URBANIZACIÓN CON PISCINA Y PLAZA DE GARAJE EN PEÑAGRANDE. Presentamos luminoso ático-dúplex exterior de 4 dormitorios, 2 baños, 1 aseo de cortesía, estancia para almacenaje y una fabulosa terraza. Incluye una plaza de garaje con acceso directo en ascensor y un trastero. En urbanización cerrada con piscina, pádel, zona infantil y salón social, con vigilancia 24 horas. Con 154 m² construidos, según catastro, de los cuales corresponden a vivienda 122 m² y 28 m² de terraza de uso privativo. La parte superior de la vivienda consta de salón-comedor, cocina amueblada y equipada con electrodomésticos, tendedero y un aseo de cortesía. Bajando unas escaleras de mármol, se accede a la parte inferior de la vivienda, con cuatro dormitorios y dos baños completos, uno de ellos en suite y bañera de hidromasaje. Cuenta además con una estancia de almacenaje. Con suelo de tarima de madera en toda la vivienda. Aire acondicionado. Calefacción y agua sanitaria son por gas natural individual. En la cubierta de la finca hay placas solares para el agua caliente. Cuenta con sistema de alarma contraincendios. Toda la vivienda está orientada al Este, a excepción de la cocina y una de las habitaciones, que dan al Sur. En muy buen estado, para entrar a vivir. Posibilidad de adquirir una segunda plaza de garaje, contigua a la que se incluye con la vivienda. Estupenda ubicación, en el barrio de Peñagrande, situado en el Norte de Madrid, entre Puerta de Hierro y Mirasierra, dentro de la almendra-M30. A 5 minutos andando de la estación de metro (línea 7) y con paradas de autobuses prácticamente en la puerta, que conectan con diferentes zonas de Madrid, incluido nocturnos. Muy cerca de colegios, universidades (Instituto de Empresa), hospitales y clínicas (La Paz, Ramón y Cajal, Ruber Internacional, Centro), residencias de mayores (Los Nogales-Puerta de Hierro, Ballesol), grandes superficies (La Vaguada), gimnasios (GoFit) y variedad de supermercados. A 10 minutos en coche de la Estación de Tren Chamartín y a 15 minutos del Aeropuerto. Grandes zonas verdes en la zona (El Pardo, Dehesa de la Villa). ¿Te imaginas vivir aquí?  MUCHAS DE NUESTRAS PROPIEDADES NO APARECEN EN IDEALISTA, CONSULTA NUESTRA PÁGINA WEB PARA VER MÁS PROPIEDADES EXCLUSIVAS.                    good    False             4838.0       {'typology': 'flat', 'subTypology': 'penthouse'}  {'subtitle': 'Peñagrande, Madrid', 'title': 'Ático en Calle de Juan Sánchez'}   True     False              5      True     {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}                                   1
1           103523871     675000.0  flat          sale       152.0  True      3      2          barrio Peñagrande          Madrid    Madrid        Fuencarral          es       False           40.474086  -3.718868  False        https://www.idealista.com/inmueble/103523871/  Magnifico piso reformado en Peña Grande. Con una superficie de 152m² catastrales, dispone de tres dormitorios, dos baños, un amplio salón y una cocina espaciosa con tendedero. Situado en la octava planta, este luminoso piso ofrece buenas vistas. La vivienda ha sido cuidadosamente reformada para ofrecer comodidad y estilo. Así, por ejemplo, se ha mejorado su eficiencia energética, con ventanas de doble acristalamiento en todas las habitaciones, utilizando cristales Guardian Sun Select, todas las estancias disponen de persianas. El sistema de aire acondicionado por conductos de la marca Daikin, con Airzone para cada estancia, asegura un confort ideal. Además, se ha instalado una caldera de gas nueva, de la marca Valliant.  Otras calidades de este estupendo piso son, los suelos en gres porcelánico rectificado, toda la carpintería interior es en color blanco, así como otros detalles de alta calidad como es la encimera de la cocina de la marca Dekton. En el tendedero se han dispuesto armarios de aluminio. Además, cuenta con una puerta acorazada de la marca Dierre, que ofrece máximo aislamiento térmico. Sus tres dormitorios, la entrada y el pasillo disponen de armarios empotrados para un mejor almacenamiento. Cuanta con una plaza de garaje espaciosa con espacio para una moto y coche, con más de cinco metros de longitud, así como un cuarto trastero. El edificio dispone de una amplia piscina para adultos y otra infantil, pista de pádel, club social para eventos, gimnasio, cámaras de seguridad, parque infantil y amplias zonas verdes, conserjería las 24 horas, recogida de paquetes. Toda la comodidad a su servicio. La vivienda se encuentra a 100 metros de la parada de metro de Peñagrande y tiene varias paradas de autobús próximas. Dispone de todos los servicios que se puedan necesitar en el entorno, desde centros de salud, colegios, comercios, hostelería y numerosos centros deportivos como el complejo Go Fit.                                                                                                                                                                                                                                                                                                                                                                                     good    False             4441.0       {'typology': 'flat'}                              {'subtitle': 'Peñagrande, Madrid', 'title': 'Piso'}                             True     False              8      True     {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}                                   1
2           104003668     675000.0  flat          sale       151.0  True      3      2          Calle de Isla Cristina     Madrid    Madrid        Moncloa             es       False           40.470172  -3.724269  False        https://www.idealista.com/inmueble/104003668/  Magnifico piso de 120 m2 de vivienda más 31 m2 de Terraza de uso y disfrute particular, en planta baja, pero con mucha luz en toda la casa. Con 2 plazas de garaje una de ellas para dos coches.  Según entramos nos encontramos con el vestibulo que nos abre paso al enorme salón comedor, de paso, con ventana al jardín con piscina del edificio. A continuación nos encontramos con el pasillo distribuidor que nos lleva a la izquierda a dos dormitorios de similar tamaño y por último al gran dormitorio principal con amplio baño con bañera en suite. Las ventanas de las habitaciones dan a la terraza del piso. Con armarios empotrados por toda la casa. A la izquierda en el pasillo nos lleva al segundo baño con ducha y a un cuarto de armarios.  Si continuamos llegamos a la amplia cocina amueblada y equipada con electrodomésticos y al fondo un lavadero que nos abre paso a la gran terraza de unos 31 m2. Van incluidas en el precio dos plazas de garaje para tres coches pues una de ellas es muy larga y caben dos coches. En muy buen edificio con piscina privada. En el inmueble hay también Portero fisico. Se paga de comunidad de propietarios de vivienda unos 171 Euros y de las Dos plazas de garaje unos 70 Euros. De IBI se pagan unos 800 Euros. Situado en el distrito de Moncloa-Aravaca, en el oeste de Madrid, el barrio de Valdezarza está bordeado, al norte, por la calle del Valle de Mena; al este, por la calle de Villaamil y la calle de Ofelia Nieto; al sur, por la calle de Francos Rodríguez; y, al oeste, por la calle de Antonio Machado, la calle de la Isla de Oza y la calle de Nueva Zelanda. El extremo noroeste del barrio está situado al lado de la autopista M-30, lo que facilita el acceso en coche. Otras opciones de transporte son el autobús o el metro (Valdezarza y Antonio Machado).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               renew   False             4470.0       {'typology': 'flat'}                              {'subtitle': 'Valdezarza, Madrid', 'title': 'Piso en Calle de Isla Cristina'}   True     False              bj     True     {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}                                   1
3           102912846     480000.0  flat          sale       100.0  True      3      2          Calle de La Bañeza         Madrid    Madrid        Fuencarral          es       False           40.474872  -3.719505  False        https://www.idealista.com/inmueble/102912846/  Exclusivo piso a estrenar situado en el barrio de Peñagrande, en Madrid. ¡SOMOS PROPIETARIOS! Disfruta de todas las ventajas de comprar directamente a la propiedad.  La vivienda está ubicada en la planta 3 exterior con ascensor. Dispone de una superficie total de 100 m², distribuidos en salón y comedor, cocina abierta equipada, 3 dormitorios y 2 baños. Además, cuenta con terraza, cocina amueblada, armarios empotrados, aire acondicionado, parking y accesibilidad para personas con movilidad reducida. Situado en el barrio de Peñagrande, en la Calle Bañeza, que te permitirá estar cerca de todo lo que necesitas como el Centro Comercial La Vaguada, el Parque de la Vaguada, el GO Fit Peñagrande, el Hospital Universitario La Paz y el Hospital Universitario Ramón y Cajal a 10 minutos en coche. A su vez, está próximo a supermercados, restaurantes, colegios, gimnasios, múltiples paradas de autobús y la estación de metro Peñagrande (L7). Agenda tu visita y te acompañamos en todo el proceso. Llámanos de lunes a viernes de 9.00h a 20.00h La vivienda ha sido completamente reformada y está representada por imágenes reales tras la finalización de la obra. El mobiliario no está incluido en el precio, es representativo para visualizar las dimensiones reales de la estancia y un ejemplo de cómo queda la vivienda decorada.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      good    False             4800.0       {'typology': 'flat'}                              {'subtitle': 'Peñagrande, Madrid', 'title': 'Piso en Calle de La Bañeza'}       True     False              3      True     {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}                                   1
4           103206000     490000.0  flat          sale       108.0  True      3      2          Calle del Valle de Mena    Madrid    Madrid        Moncloa             es       False           40.468745  -3.714980  False        https://www.idealista.com/inmueble/103206000/  Vivienda en el barrio de Valdezarza, en Madrid. ¡SOMOS PROPIETARIOS! Disfruta de todas las ventajas de comprar directamente a la propiedad. El inmueble está ubicada en la planta 3 exterior con ascensor. Dispone de una superficie total de 108 m², distribuidos en salón y comedor, cocina independiente, 3 dormitorios y 2 baños. Además, cuenta con ascensor, armarios empotrados, aire acondicionado, trastero, parking, jardín, piscina, zona comunitaria y accesibilidad para personas con movilidad reducida. Situado en el barrio de Valdezarza, en la Calle Valle de Mena, cuenta con una ubicación que te permitirá estar cerca de todo lo que necesitas como el Centro de Salud Doctor Castroviejo, el Parque de Agustín Rodríguez Sahagún y los campos de fútbol, Club Unión Zona Norte y A. D. Unión Adarve. A su vez, esta próximo a supermercados, restaurantes, colegios, gimnasios y a la estación de metro Antonio Machado (L7). ¿Te interesa esta vivienda? ¡Llámanos! Clikalia está a tu disposición de lunes a viernes de 9.00h a 20.00h. La vivienda ha sido completamente reformada y está representada por imágenes reales tras la finalización de la obra. El mobiliario no está incluido en el precio, es representativo para visualizar las dimensiones reales de la estancia y un ejemplo de cómo queda la vivienda decorada.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     good    False             4537.0       {'typology': 'flat'}                              {'subtitle': 'Valdezarza, Madrid', 'title': 'Piso en Calle del Valle de Mena'}  True     False              3      True     {'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}                                   1

In [36]:
archivo_txt_2024_04_20 = f"{path}/24-04-20/Listado.txt"

with open(archivo_txt_2024_04_20, "r", encoding="utf-8") as f:
    datos_txt = f.read()

datos = json.loads(datos_txt) # Convertir el texto a objeto Python (lista de diccionarios)

df_archivo_txt_2024_04_20 = pd.DataFrame(datos)

df_archivo_txt_2024_04_20

,propertyCode,thumbnail,externalReference,numPhotos,floor,price,priceInfo,propertyType,operation,size,...,hasPlan,has3DTour,has360,hasStaging,highlight,topNewDevelopment,topPlus,parkingSpace,labels,newDevelopmentFinished
0,104204737,https://img3.idealista.com/blur/WEB_LISTING/0/...,RM-2035,22,11,385000.0,{'price': {'amount': 385000.0}},flat,sale,92.0,...,True,False,False,False,{'groupDescription': 'Top'},False,False,NaN,NaN,NaN
1,103138983,https://img3.idealista.com/blur/WEB_LISTING/0/...,040091,24,2,545000.0,{'price': {'amount': 545000.0}},flat,sale,118.0,...,True,False,True,False,{'groupDescription': 'Top'},False,False,"{'hasParkingSpace': True, 'isParkingSpaceInclu...","[{'name': 'reformed', 'text': 'Reformado'}]",NaN
2,103944798,https://img3.idealista.com/blur/WEB_LISTING/0/...,8309,37,6,214000.0,{'price': {'amount': 214000.0}},flat,sale,56.0,...,True,False,True,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN
3,104655895,https://img3.idealista.com/blur/WEB_LISTING/0/...,VO200424,31,bj,209900.0,{'price': {'amount': 209900.0}},flat,sale,47.0,...,True,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN
4,104003668,https://img3.idealista.com/blur/WEB_LISTING/0/...,NaN,45,bj,675000.0,{'price': {'amount': 675000.0}},flat,sale,151.0,...,True,False,True,False,{'groupDescription': 'Destacado'},False,False,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1193,98311246,https://img3.idealista.com/blur/WEB_LISTING/0/...,CCI-001-000041801,18,bj,205265.0,{'price': {'amount': 205265.0}},flat,sale,98.0,...,True,False,True,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN
1194,103269326,https://img3.idealista.com/blur/WEB_LISTING/0/...,NaN,21,bj,195000.0,{'price': {'amount': 195000.0}},flat,sale,153.0,...,True,False,True,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN
1195,104611644,https://img3.idealista.com/blur/WEB_LISTING/0/...,5183,13,NaN,155800.0,{'price': {'amount': 155800.0}},flat,sale,52.0,...,True,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,"[{'name': 'apartamentoType', 'text': 'Apartame...",NaN
1196,104173949,https://img3.idealista.com/blur/WEB_LISTING/0/...,4091,24,NaN,135000.0,{'price': {'amount': 135000.0}},chalet,sale,64.0,...,True,False,True,False,{'groupDescription': 'Destacado'},False,False,NaN,"[{'name': 'casaBajaType', 'text': 'Casa baja'}]",NaN
1197,99728040,https://img3.idealista.com/blur/WEB_LISTING/0/...,640718,31,3,155000.0,{'price': {'amount': 155000.0}},flat,sale,79.0,...,True,False,False,False,{'groupDescription': 'Destacado'},False,False,NaN,NaN,NaN

In [ ]:
df_archivo_txt_2024_04_20.info()  #sacamos la información que contiene el txt

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1198 entries, 0 to 1197
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   propertyCode            1198 non-null   object
 1   thumbnail               1198 non-null   object
 2   externalReference       1093 non-null   object
 3   numPhotos               1198 non-null   int64
 4   floor                   1070 non-null   object
 5   price                   1198 non-null   float64
 6   priceInfo               1198 non-null   object
 7   propertyType            1198 non-null   object
 8   operation               1198 non-null   object
 9   size                    1198 non-null   float64
 10  exterior                1117 non-null   object
 11  rooms                   1198 non-null   int64
 12  bathrooms               1198 non-null   int64
 13  address                 1198 non-null   object
 14  province                1198 non-null   object
 15  municipality            1198 non-null   object
 16  district                1198 non-null   object
 17  country                 1198 non-null   object
 18  neighborhood            1198 non-null   object
 19  latitude                1198 non-null   float64
 20  longitude               1198 non-null   float64
 21  showAddress             1198 non-null   bool
 22  url                     1198 non-null   object
 23  distance                1198 non-null   object
 24  description             1196 non-null   object
 25  hasVideo                1198 non-null   bool
 26  status                  1198 non-null   object
 27  newDevelopment          1198 non-null   bool
 28  hasLift                 1132 non-null   object
 29  priceByArea             1198 non-null   float64
 30  detailedType            1198 non-null   object
 31  suggestedTexts          1198 non-null   object
 32  hasPlan                 1198 non-null   bool
 33  has3DTour               1198 non-null   bool
 34  has360                  1198 non-null   bool
 35  hasStaging              1198 non-null   bool
 36  highlight               1142 non-null   object
 37  topNewDevelopment       1198 non-null   bool
 38  topPlus                 1198 non-null   bool
 39  parkingSpace            420 non-null    object
 40  labels                  124 non-null    object
 41  newDevelopmentFinished  34 non-null     object
dtypes: bool(9), float64(5), int64(3), object(25)
memory usage: 319.5+ KB

In [ ]:
df_archivo_txt_2024_04_20.columns    # Aquí quiero ver el número y nombre de las columnas que tiene el txt, para compararlo con el archivo csv, por si son iguales o tienen algun tipo de relación

Index(['propertyCode', 'thumbnail', 'externalReference', 'numPhotos', 'floor',
       'price', 'priceInfo', 'propertyType', 'operation', 'size', 'exterior',
       'rooms', 'bathrooms', 'address', 'province', 'municipality', 'district',
       'country', 'neighborhood', 'latitude', 'longitude', 'showAddress',
       'url', 'distance', 'description', 'hasVideo', 'status',
       'newDevelopment', 'hasLift', 'priceByArea', 'detailedType',
       'suggestedTexts', 'hasPlan', 'has3DTour', 'has360', 'hasStaging',
       'highlight', 'topNewDevelopment', 'topPlus', 'parkingSpace', 'labels',
       'newDevelopmentFinished'],
      dtype='object')

In [41]:
df_union_04_20 = pd.concat([df_2024_03_11,df_archivo_txt_2024_03_11,df_2024_04_20,df_archivo_txt_2024_04_20 ], ignore_index=True)

df_union_04_20

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,distance,hasVideo,has3DTour,has360,hasStaging,highlight,topPlus,labels,newDevelopmentFinished,priceInfo
0,0.0,100340472,745000.0,penthouse,sale,154.0,True,4,3,Calle de Juan Sánchez,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,103523871,675000.0,flat,sale,152.0,True,3,2,barrio Peñagrande,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,104003668,675000.0,flat,sale,151.0,True,3,2,Calle de Isla Cristina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,102912846,480000.0,flat,sale,100.0,True,3,2,Calle de La Bañeza,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,103206000,490000.0,flat,sale,108.0,True,3,2,Calle del Valle de Mena,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4781,NaN,98311246,205265.0,flat,sale,98.0,True,3,2,calle Sierra Carbonera,...,503,False,False,True,False,{'groupDescription': 'Destacado'},False,NaN,NaN,{'price': {'amount': 205265.0}}
4782,NaN,103269326,195000.0,flat,sale,153.0,True,3,3,calle de Alfredo Castro Camba,...,319,True,False,True,False,{'groupDescription': 'Destacado'},False,NaN,NaN,{'price': {'amount': 195000.0}}
4783,NaN,104611644,155800.0,flat,sale,52.0,True,1,1,barrio San Diego,...,236,False,False,False,False,{'groupDescription': 'Destacado'},False,"[{'name': 'apartamentoType', 'text': 'Apartame...",NaN,{'price': {'amount': 155800.0}}
4784,NaN,104173949,135000.0,chalet,sale,64.0,NaN,2,1,calle de Gregorio Navas,...,358,True,False,True,False,{'groupDescription': 'Destacado'},False,"[{'name': 'casaBajaType', 'text': 'Casa baja'}]",NaN,{'price': {'amount': 135000.0}}
4785,NaN,99728040,155000.0,flat,sale,79.0,True,3,1,calle de Mejorana,...,452,False,False,False,False,{'groupDescription': 'Destacado'},False,NaN,NaN,{'price': {'amount': 155000.0}}

In [42]:
df_union_04_20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4786 entries, 0 to 4785
Data columns (total 44 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              2392 non-null   float64
 1   propertyCode            4786 non-null   object
 2   price                   4786 non-null   float64
 3   propertyType            4786 non-null   object
 4   operation               4786 non-null   object
 5   size                    4786 non-null   float64
 6   exterior                4492 non-null   object
 7   rooms                   4786 non-null   int64
 8   bathrooms               4786 non-null   int64
 9   address                 4786 non-null   object
 10  province                4786 non-null   object
 11  municipality            4786 non-null   object
 12  district                4786 non-null   object
 13  country                 4786 non-null   object
 14  newDevelopment          4786 non-null   bool
 15  latitude                4786 non-null   float64
 16  longitude               4786 non-null   float64
 17  showAddress             4786 non-null   bool
 18  url                     4786 non-null   object
 19  description             4778 non-null   object
 20  status                  4786 non-null   object
 21  newDevelopment.1        2392 non-null   object
 22  priceByArea             4786 non-null   float64
 23  detailedType            4786 non-null   object
 24  suggestedTexts          4786 non-null   object
 25  hasPlan                 4786 non-null   bool
 26  topNewDevelopment       4786 non-null   bool
 27  floor                   4334 non-null   object
 28  hasLift                 4543 non-null   object
 29  parkingSpace            1644 non-null   object
 30  thumbnail               2394 non-null   object
 31  externalReference       2184 non-null   object
 32  numPhotos               2394 non-null   float64
 33  neighborhood            2394 non-null   object
 34  distance                2394 non-null   object
 35  hasVideo                2394 non-null   object
 36  has3DTour               2394 non-null   object
 37  has360                  2394 non-null   object
 38  hasStaging              2394 non-null   object
 39  highlight               2285 non-null   object
 40  topPlus                 2394 non-null   object
 41  labels                  234 non-null    object
 42  newDevelopmentFinished  68 non-null     object
 43  priceInfo               1198 non-null   object
dtypes: bool(4), float64(7), int64(2), object(31)
memory usage: 1.5+ MB

In [43]:
df_union_04_20.columns

Index(['Unnamed: 0', 'propertyCode', 'price', 'propertyType', 'operation',
       'size', 'exterior', 'rooms', 'bathrooms', 'address', 'province',
       'municipality', 'district', 'country', 'newDevelopment', 'latitude',
       'longitude', 'showAddress', 'url', 'description', 'status',
       'newDevelopment.1', 'priceByArea', 'detailedType', 'suggestedTexts',
       'hasPlan', 'topNewDevelopment', 'floor', 'hasLift', 'parkingSpace',
       'thumbnail', 'externalReference', 'numPhotos', 'neighborhood',
       'distance', 'hasVideo', 'has3DTour', 'has360', 'hasStaging',
       'highlight', 'topPlus', 'labels', 'newDevelopmentFinished',
       'priceInfo'],
      dtype='object')

In [46]:
duplicados_2 = df_union_04_20["propertyCode"].duplicated()
df_union_04_20.loc[duplicados_2]

,Unnamed: 0,propertyCode,price,propertyType,operation,size,exterior,rooms,bathrooms,address,...,distance,hasVideo,has3DTour,has360,hasStaging,highlight,topPlus,labels,newDevelopmentFinished,priceInfo
21,21.0,104204737,385000.0,flat,sale,92.0,True,3,2,Calle de Valderrodrigo,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,82.0,104021671,1200000.0,flat,sale,229.0,True,5,3,Paseo de san francisco de sales,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,89.0,101135248,745000.0,flat,sale,153.0,False,4,3,Paseo de San Francisco de Sales,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,118.0,104138754,349000.0,flat,sale,51.0,True,1,1,barrio Argüelles,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,143.0,102662115,245000.0,flat,sale,70.0,True,1,1,Calle de Manzanares,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4779,NaN,102129807,168000.0,flat,sale,71.0,True,3,1,calle de Julia Mediavilla,...,266,False,False,False,False,{'groupDescription': 'Destacado'},False,NaN,NaN,{'price': {'amount': 168000.0}}
4781,NaN,98311246,205265.0,flat,sale,98.0,True,3,2,calle Sierra Carbonera,...,503,False,False,True,False,{'groupDescription': 'Destacado'},False,NaN,NaN,{'price': {'amount': 205265.0}}
4782,NaN,103269326,195000.0,flat,sale,153.0,True,3,3,calle de Alfredo Castro Camba,...,319,True,False,True,False,{'groupDescription': 'Destacado'},False,NaN,NaN,{'price': {'amount': 195000.0}}
4784,NaN,104173949,135000.0,chalet,sale,64.0,NaN,2,1,calle de Gregorio Navas,...,358,True,False,True,False,{'groupDescription': 'Destacado'},False,"[{'name': 'casaBajaType', 'text': 'Casa baja'}]",NaN,{'price': {'amount': 135000.0}}
4785,NaN,99728040,155000.0,flat,sale,79.0,True,3,1,calle de Mejorana,...,452,False,False,False,False,{'groupDescription': 'Destacado'},False,NaN,NaN,{'price': {'amount': 155000.0}}